.bonteco {
  height: 315px;

  .container {
    position: relative;
  }

  img {
    height: 315px;
    position: absolute;
    right: 0;
  }
}

.bonteco__green-council {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%);
}

.footer {
  background: $color-one;
  border-top: 5px solid $color-two;
  color: #fff;
  font-size: 14px;
  padding: 25px 0 50px 0;

  h4 {
    font-family: $text-bold;
    font-size: 16px;
  }

  address {
    font-style: normal;
  }
}

.copyright {
  padding-top: 20px;
  height: 50px;
  font-size: 14px;
}