//Color
$color-one: #1a2d5f;
$color-two: #afd705;
$color-three: #c80000;
$color-four: #ff6400;
$color-five: #b3c3c3;
$color-six: #373737;


//Typography
$text-light: 'Gotham-Light', sans-serif;
$text-regular: 'Gotham-Book', sans-serif;
$text-medium: 'Gotham-Medium', sans-serif;
$text-bold: 'Gotham-BOld', sans-serif;