*, *:before, *:after {
  //box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}

html {
  overflow-x: hidden;
}

body {
  font-family: $text-light;
  color: $color-six;
}

p {

}

a {

}

a:hover {

}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: unset;
}

strong {
  font-family: $text-bold;
}


h2 {
  font-family: $text-bold;
  text-transform: uppercase;
  font-size: 28px;
  color: $color-one;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-family: $text-bold;
}

.btn {
  background: transparent;
  border: 0;
  outline: 0;
}

.btn-primary {
  border: 2px solid $color-one;
  color: $color-one;
  text-transform: uppercase;
  font-size: 14px;
  font-family: $text-medium;
  padding: 10px 30px;
  cursor: pointer;
}