.banner {
  height: 500px;
}

.banner__contato {
  background: url("../images/contato_banner.jpg") no-repeat center;
  background-size: cover;
}

.contato-geral {
  font-size: 16px;

  h3 {
    color: $color-one;
    text-transform: inherit;
    font-size: 22px;
    position: relative;
    margin-bottom: 25px;
  }
}

.contato-geral__formulario {
  padding: 0 50px;

  @media(max-width: 991px){
    padding: 0 0 0 50px;
    margin-bottom: 50px;
  }

  h3:before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -50px;
    width: 35px;
    height: 35px;
    background: url('../images/contato_mensagem_icon.svg') no-repeat;
  }

  input,
  textarea {
    width: 100%;
    border: 2px solid #dce3e3;
    padding: 5px 15px;
    height: 50px;
    margin-bottom: 25px;
    font-family: $text-light;
    font-size: 14px;
    color: $color-six;
    outline: 0;
    transition: .5s;

    &:focus {
      border: 2px solid $color-one;
    }
  }

  textarea {
    resize: none;
    height: 180px;
    padding-top: 15px;
  }
}

input.form-submit {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 2px solid $color-one;
  cursor: pointer;
  font-family: $text-bold;
  text-transform: uppercase;
  text-align: center;
  transition: .25s;
  font-size: 14px;
  color: $color-one;
  padding: 15px;

  &:hover {
    background: $color-one;
    color: #fff;
  }
}

.contato-geral__formulario__select {
  position: relative;
}

.contato-geral__formulario__arrow {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;

  &:before{
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    background: #000;
    transform: translatey(2px) translatex(-5px) rotate(45deg);
  }

  &:after{
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    background: #000;
    transform: rotate(-45deg);
  }
}

.contato-geral__formulario__selected {
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.contato-geral__formulario__lista {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
  background: #dae4e4;
  font-size: 14px;
  opacity: 0;
  z-index: -1;
  transition: .25s;

  li {
    a {
      display: block;
      color: $color-six;
      padding: 15px 15px;

      &:hover {
        background: $color-one;
        color: #fff;
      }
    }
  }
}

.contato-geral__mais-informacoes {
  padding-left: 50px;

  @media(max-width: 991px){
    margin-bottom: 50px;
  }
}

.contato-geral__mais-informacoes__header-horario,
.contato-geral__mais-informacoes__header-telefone,
.contato-geral__mais-informacoes__header-email {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -50px;
    width: 35px;
    height: 35px;
  }
}

.contato-geral__mais-informacoes__header-horario {
  &:after {
    background: url('../images/beneficios-comodidade.svg') no-repeat;
  }
}

.contato-geral__mais-informacoes__header-telefone {
  &:after {
    background: url('../images/contato_telefone_icon.svg') no-repeat;
  }
}

.contato-geral__mais-informacoes__header-email {
  &:after {
    background: url('../images/contato_email_icon.svg') no-repeat;
  }
}