.header {
  background: rgba(255,255,255, .9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 2;
  padding-top: 23px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: rgba(255,255,255, .9);
  }
}

.header__brand img {
  height: 28px;
}

.main-nav {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}

.main-nav__btn-container {
  display: none;

  @media(max-width: 1200px) {
    display: block;
    transform: translatey(-15px);
  }

  button.main-nav__btn {
    width: 43px;
    height: 43px;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 1;

    span {
      display: block;
      margin: auto;
      width: 20px;
      height: 3px;
      background: $color-one;

      &:before {
        content: '';
        display: block;
        background: $color-one;
        width: 20px;
        height: 3px;
        transform: translatey(-6px);
      }

      &:after {
        content: '';
        display: block;
        background: $color-one;
        width: 20px;
        height: 3px;
        transform: translatey(3px);
      }
    }
  }
}

.main-nav__navmenu {
  @media(max-width: 1200px) {
    position: fixed;
    right: -300px;
    top: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(26, 45, 95, 0.95);
    width: 300px;
    transition: right .5s;
  }
}

.main-nav__navmenu--active {
  &:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,.75);
  }
}

.main-nav__navmenu--active .main-nav__navmenu {
  right: 0;
}

button.main-nav__btn--fechar {
  width: 43px;
  height: 43px;
  z-index: 100;
  position: absolute;
  top: 17px;
  left: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  outline: 0;

  @media(max-width: 1200px){
    display: block;
  }

  span {
    display: block;
    margin-left: 10px;

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 3px;
      background: #fff;
      transform: rotate(-45deg);
    }

    &:after {
      content: '';
      display: block;
      width: 20px;
      height: 3px;
      background: #fff;
      transform: translatey(-3px) rotate(45deg);
    }
  }
}

.main-nav__navmenu ul {
  display: flex;

  @media(max-width: 1200px){
    flex-direction: column;
    transform: translatey(100px);
  }
}

.main-nav__navmenu li {
  margin-left: 75px;

  @media(max-width: 1200px){
    margin-left: 0;
  }
}

.main-nav__navmenu li > a {
  font-size: 16px;
  font-family: $text-medium;
  text-transform: uppercase;
  color: $color-one;
  text-decoration: none;
  transition: color .25s;

  @media(max-width: 1200px){
    display: block;
    color: #fff;
    padding: 10px;
  }

  &:hover {
    color: $color-two;
  }
}