.banner {
  height: 500px;
}

.banner__planos {
  background: url("../images/slider01.jpg") no-repeat center;
  background-size: cover;
}

.saude-predial-interna__descricao {
  strong {
    color: $color-two;
  }
}

.tabela {

  .tabela__header {
    background: $color-two;
    padding: 10px 0;
    font-size: 22px;
    font-family: $text-bold;
    text-align: center;
    color: $color-one;
  }

  .tabela__body {
    display: flex;
    justify-content: space-between;

    div {
      width: 33.33%;

      &:first-child {
        border-left: 2px solid $color-five;
      }

      &:last-child {
        border-right: 2px solid $color-five;
      }

      &:nth-child(2) {
        border-left: 2px solid $color-five;
        border-right: 2px solid $color-five;
      }
    }
  }

  .tabela__footer {
    text-align: center;
    background: $color-five;
    color: $color-six;
  }
}

